@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
  background-color: #F8F9FA;
}

/* .hero{
  background-color:#E7E9E8; */
/* } */
.navbar{
  border-bottom: 2px solid grey;
}
.whycollege,.courses,.topcolleges{
  background-color: #F8F9FA;
}
.fixed-height {
  height: 180px; /* Set the desired height */
  object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
  width: 100%; /* Ensure the image takes the full width of the container */
}
@media screen and (max-width: 640px){
  /* .hero{
    /* background-image: url("./assets/homegirl.webp");
    height : 55vh;
    color: #0085FE;
  }
    */
  .heroimg{
    display: none;
    margin-bottom: 0;
    padding-bottom: 0;
  } 
  .hero__content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
}